<div class="row justify-content-center uk-position-relative">
    <div class="col-md-10">

        <div uk-grid class="uk-grid-small uk-child-width-1-2@m uk-child-width-auto@l uk-margin">
            <div>
                <button class="uk-button uk-button-primary w-100" (click)="publish()">Опубликовать</button>
            </div>
            <ng-template [ngIf]="!data.id" [ngIfElse]="editMode">
                <div>
                    <button class="uk-button uk-button-default w-100" (click)="saveResult()">Сохранить</button>
                </div>
                <div>
                    <button class="uk-button uk-button-default w-100" (click)="reset()">Очистить</button>
                </div>
            </ng-template>
            <ng-template #editMode>
                <div *mgMgIfPerm="'Permission.News.Delete'">
                    <button class="uk-button uk-button-danger w-100" (click)="delete()">Удалить</button>
                </div>
            </ng-template>
        </div>

        <div class="uk-card mg-card-news uk-card-default uk-grid-collapse mt-50" *ngIf="data">

            <div class="uk-card-media-left uk-cover-container uk-background-secondary uk-position-relative">

                <!--    todo: alt    -->
                <ng-template [ngIf]="data?.imageUrl">
                    <img class="uk-animation-fade uk-animation-fast" [src]="data.imageUrl | image" alt="article image"
                         uk-cover>
                </ng-template>
                <canvas width="600" height="400"></canvas>

                <div class="uk-overlay-primary uk-position-cover mg-hover-opacity">
                    <div class="uk-position-center">
                        <button class="uk-button uk-button-primary" (click)="editImageCover()">
                            <span uk-icon="icon: camera" class="uk-margin-right"></span> Добавить обложку
                        </button>
                    </div>
                </div>

            </div>

            <div class="uk-flex uk-flex-row uk-flex-column uk-flex-between">

                <div class="uk-card-body">

                    <!--     Title     -->

                    <mg-manage-block [disablesTools]="true">

                        <input id="manage-title-field" class="mg-manage-input uk-h3" type="text" [(ngModel)]="data.title">

                    </mg-manage-block>

                    <!--     Description     -->

                    <mg-manage-block [editTool]="false"
                                     [deleteTool]="false"
                                     [movingTools]="false">
                        <div class="mg-news-text-editor">
                            <p>
                            <textarea class="mg-textarea uk-textarea"
                                      cdkTextareaAutosize
                                      [(ngModel)]="data.description"></textarea>
                            </p>
                        </div>
                    </mg-manage-block>

                    <ng-template [ngIf]="data.blocks && data.blocks.length">
                        <div class="news-description">
                            <div *ngFor="let block of data.blocks">

                                <!--       Text type       -->

                                <ng-template [ngIf]="block.type == blockTypes.Text">
                                    <div class="uk-animation-fade uk-animation-fast mg-news-text-editor">
                                        <mg-manage-block
                                                (onBlockEdit)="editTextBlock(block)"
                                                (onHovered)="textEditor.displayToolBar = $event"
                                                [block]="block">
                                                <mg-quill-editor placeholder="Введите текст..."
                                                                 #textEditor
                                                                 [displayToolBar]="false"
                                                                 [(ngModel)]="block.data"></mg-quill-editor>
                                        </mg-manage-block>
                                    </div>
                                </ng-template>

                                <!--       Video type       -->

                                <ng-template [ngIf]="block.type == blockTypes.Video">
                                    <div class="news-video uk-animation-fade uk-animation-fast">
                                        <mg-manage-block [block]="block"
                                                         (onBlockEdit)="editVideo(block)">
                                            <iframe [src]="block.data | safeUrl"
                                                    width="1920"
                                                    height="1080"
                                                    allowfullscreen
                                                    uk-responsive
                                                    uk-video="automute: true; autoplay: false"></iframe>
                                        </mg-manage-block>
                                    </div>
                                </ng-template>

                                <!--       Image type       -->

                                <ng-template [ngIf]="block.type == blockTypes.Image">
                                    <div class="uk-animation-fade uk-animation-fast">
                                        <mg-manage-block [block]="block"
                                                         (onBlockEdit)="editImageBlock(block)">
                                            <mg-news-image-block [data]="block.data"></mg-news-image-block>
                                        </mg-manage-block>
                                    </div>
                                </ng-template>

                                <!--       Tournament Results Table type       -->

                                <ng-template [ngIf]="block.type == blockTypes.TournamentResultsTable">
                                    <div class="uk-animation-fade uk-animation-fast">
                                        <mg-manage-block [block]="block"
                                                         [editTool]="false">
                                            <mg-manage-tournament-table #data
                                                                        [data]="block.data"></mg-manage-tournament-table>
                                        </mg-manage-block>
                                    </div>
                                </ng-template>


                            </div>
                        </div>
                    </ng-template>

                </div>

            </div>
        </div>
    </div>

    <mg-bg></mg-bg>
    <div class="mt-100"></div>
</div>

<mg-add-image-modal #addImageCoverModal
                    [aspectRatio]="4/3"
                    [saveOptions]="{maxWidth: 800, maxHeight: 800}"></mg-add-image-modal>

<mg-add-image-modal #addImageModal></mg-add-image-modal>
<mg-manage-news-image-cover-modal #imageCoverModal></mg-manage-news-image-cover-modal>
<mg-manage-text-html-modal #textHtmlModal></mg-manage-text-html-modal>
<mg-manage-news-video-modal #videoModal></mg-manage-news-video-modal>
<mg-choose-or-create-event-modal #createEventModal></mg-choose-or-create-event-modal>
