@import "variables";

a {
  color: $mg-green-text;
}

.logo-image {
  height: 80%;
}

* {
  white-space: nowrap;
}

.mg-navbar {
  height: 100%;
  display: flex;
  align-items: center;
  .mg-navbar-item:not(:last-of-type) {
    margin-right: 30px;
  }
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 30px;
  a {
    margin-right: 25px
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a:not(:last-of-type) {
    margin-bottom: 5px
  }
}

.mg-burger-navbar {
  margin-top: 50px;

  &-item {
    vertical-align: center;

    .mg-contact-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &:not(:last-of-type) {
      margin-bottom: 10px;
    }

    .mg-contact-row {

      .wrapper span { margin-left: 10px }

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }
    }
  }

  .mg-burger-subnavbar a:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

