@import "variables";
@import "mixins/utils-mixins";

.mg-news {
  > div {
    position: relative;

    // todo or delete

    &:after {
      content: '';
      display: block;
      position: absolute;
      @include absolute-y-center-left(-50px);
      background: $mg-yellow-main;
      $radius: 20px;
      width: $radius;
      height: $radius;
      border-radius: 12px;
    }

    &:after:not(:first-of-type) {
      content: '';
      display: block;
      position: absolute;
      @include absolute-y-center-left(-50px);
      background: $mg-yellow-main;
    }
  }
}
