<div class="uk-card mt-100 uk-align-center mg-card" style="max-width: 600px; padding: 20px">

    <div class="uk-card-header uk-text-center">
        <h2>Авторизация</h2>
    </div>

    <form class="uk-form-stacked" [formGroup]="form" (ngSubmit)="login()">

        <div class="uk-card-body">

            <div class="uk-margin" *ngIf="error">
                <div class="uk-alert-danger" uk-alert>
                    <a class="uk-alert-close" uk-close></a>
                    <p>{{error}}</p>
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="email">
                    Емейл
                    <ng-container *ngIf="form | hasError : 'email' : 'required' : submitted; else emailEmail">
                        - це поле обов'язкове
                    </ng-container>
                    <ng-template #emailEmail>
                        <ng-container *ngIf="form | hasError : 'email' : 'email' : submitted">
                            - некоректний формат емейлу
                        </ng-container>
                    </ng-template>
                </label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" placeholder="Емейл" id="email" formControlName="email">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="password">
                    Пароль
                    <ng-template [ngIf]="form | hasError : 'password' : 'required' : submitted">
                        - це поле обов'язкове
                    </ng-template>
                </label>
                <div class="uk-form-controls">
                    <input type="password" class="uk-input" placeholder="Пароль" id="password"
                           formControlName="password">
                </div>
            </div>

        </div>

        <div class="uk-card-footer uk-text-center" uk-margin>
            <button class="uk-button uk-button-primary uk-margin-small-right" type="submit">Увійти</button>
            <button class="uk-button uk-button-default" routerLink="/user-registration" type="button">Зареєструватись</button>
            <div class="uk-inline">
                <mg-google-login (onResponse)="onGoogleSignIn($event)" text="signin_with"></mg-google-login>
            </div>
        </div>
    </form>

</div>
