<div class="mg-tools uk-margin-medium-bottom">
  <div class="uk-search uk-search-default">
    <a class="uk-search-icon-flip" uk-search-icon></a>
    <input class="uk-search-input uk-input" type="search" placeholder="Поиск" [(ngModel)]="nameFiltering">
  </div>
  <select class="uk-select" [(ngModel)]="filteringCity">
    <option [ngValue]="null">Все города</option>
    <option *ngFor="let city of cities" [ngValue]="city">{{city}}</option>
  </select>
  <button class="uk-button uk-button-primary" type="button" (click)="save()">Сохранить</button>
  <button class="uk-button uk-button-primary" type="button" (click)="save()">Добавить</button>
</div>

<table class="uk-table uk-table-divide uk-table-justify timetable-table mg-noselect">

  <thead>
  <tr>
    <th>Время</th>
    <th>Пн</th>
    <th>Вт</th>
    <th>Ср</th>
    <th>Чт</th>
    <th>Пт</th>
    <th>Сб</th>
    <th>Вс</th>
  </tr>
  </thead>

  <tbody>

  <tr *ngFor="let dayTime of dayTimes">

    <td>{{dayTime}}</td>

    <td *ngFor="let day of dayOfWeek">

      <ng-container *ngIf="isBusy(day, dayTime); else freeSlot">
        <div class="timeslot-wrapper">
          <mg-timetable-slot *ngIf="isBuildBusySlot(day, dayTime)" [data]="getBusySlot(day, dayTime)"></mg-timetable-slot>
        </div>
      </ng-container>

      <ng-template #freeSlot>
        -
      </ng-template>

    </td>

  </tr>

<!--  <tr *ngFor="let master of group.masters; let i = index">-->
<!--    <td>{{i + 1}}</td>-->
<!--    <td>{{master.masterName}}</td>-->
<!--    <td *ngFor="let day of [1, 2, 3, 4, 5, 6, 0]"-->
<!--        class="editable mg-noselect">-->
<!--      {{displayTime(master.timetables, day)}}-->
<!--      <div class="edit-field">-->
<!--        <input class="uk-input" type="text" [(ngModel)]="master.timetables">-->
<!--      </div>-->
<!--    </td>-->
<!--  </tr>-->
  </tbody>

</table>
