@import "variables";



.mg-card {
  max-width: 400px;
  text-align: center;
  padding: 30px 50px;
  align-items: center;

  & > * {
    width: 100%;
  }

  .mg-card-image {
    $radius: 200px;
    width: $radius;
    height: $radius;
    margin: 0 auto;
  }

  .wrapper p {
    margin: 0 0 5px;
  }

  .mg-card-capture {
    font-weight: bolder;
    width: 200px;
    display: inline-block;
    margin-bottom: 0;
  }

}
