<div id="el-9">
    <img class="bg-top mg-no-select" src="/assets/img/bg-9.png" loading="lazy">
    <div class="cover-top" (click)="goToGoogleMapLink()"></div>
    <div class="mg-card">
        <div class="wrapper w-100"><h3>Як нас знайти</h3>
            <p>{{currentIndex + 1}}. {{currentLocation?.name}}</p>
            <p>{{currentLocation?.address}}</p></div>
        <div class="mg-card-bottom">
            <span [class.uk-disabled]="currentIndex == 0" class="uk-link"
                  (click)="previous()">
                <span uk-icon="icon: arrow-left"
                      class="green-main"></span>
            </span>
            <span *ngFor="let location of data; let i = index" class="uk-margin-small-right uk-link"
                  [class.uk-text-secondary]="currentIndex != i" [class.uk-text-primary]="currentIndex == i"
                  (click)="changeCurrentItem(location, i)">{{i + 1}}</span>
            <a [class.uk-disabled]="currentIndex == data.length - 1" class="uk-link" (click)="next()">
                <span uk-icon="icon: arrow-right" class="green-main"></span>
            </a>
        </div>
    </div>
    <div id="footer-map" class="mg-no-select" (click)="goToGoogleMapLink()">
        <iframe [src]="currentLocation?.googleMapsEmbeddedLink | safeUrl" id="map" allowfullscreen="false"
                aria-hidden="false" tabindex="0"></iframe>
    </div>
    <div class="contacts">
        <h1>Контакти</h1>
        <hr>
        <div class="contacts-wrapper">
            <div class="contact-block">
                <div class="contact-line">
                    <div class="icon"><img src="/assets/img/icons/mail.svg" loading="lazy"></div>
                    <div class="name">Основна</div>
                    <div class="value">mowglyteam@gmail.com</div>
                </div>
                <div class="contact-line">
                    <div class="icon"><img src="/assets/img/icons/mail.svg" loading="lazy"></div>
                    <div class="name">Запасна</div>
                    <div class="value">sensei@mowgly.com.ua</div>
                </div>
            </div>
            <div class="contact-block">
                <div class="contact-line">
                    <div class="icon"><img src="/assets/img/icons/phone.svg" loading="lazy"></div>
                    <div class="name">Kyivstar</div>
                    <div class="value">+380 (067) 700-555-3</div>
                </div>
                <div class="contact-line">
                    <div class="icon"><img src="/assets/img/icons/phone.svg" loading="lazy"></div>
                    <div class="name">Life</div>
                    <div class="value">+380 (063) 700-555-3</div>
                </div>
            </div>
        </div>
        <div class="bottom-copy mt-100"><p>© Mowgly 2020 - All rights reserved</p>
            <div class="icons ml-auto"><a href="https://www.instagram.com/mowgly.karate.club/" target="_blank">
                <mg-icon icon="instagram" color="white"></mg-icon>
            </a><a href="https://www.facebook.com/JungleTeamMowgly/" target="_blank">
                <mg-icon icon="facebook" color="white"></mg-icon>
            </a></div>
        </div>
    </div>
    <img class="bg-bottom mg-no-select" src="/assets/img/bg-10.png" loading="lazy">
    <div class="cover-bottom" (click)="goToGoogleMapLink()"></div>
</div>
