<div id="el-9" [style.height]="(isFooterMap$ | async) ? '1000px' : '500px'">

    <ng-template [ngIf]="isFooterMap$ | async">
        <img class="bg-top mg-no-select" src="/assets/img/bg-9.webp" loading="lazy">
        <div class="cover-top" (click)="goToGoogleMapLink()"></div>

        <div class="mg-card">
            <div class="wrapper w-100"><h3>Як нас знайти</h3>
                <p>{{currentIndex + 1}}. {{currentLocation?.name}}</p>
                <p>{{currentLocation?.address}}</p></div>
            <div class="mg-card-bottom">
                <span [class.uk-disabled]="currentIndex == 0" class="uk-link"
                      (click)="previous()">
                    <span uk-icon="icon: arrow-left"
                          class="green-main"></span>
                </span>
                <span *ngFor="let location of data; let i = index" class="uk-margin-small-right uk-link"
                      [class.uk-text-secondary]="currentIndex != i" [class.uk-text-primary]="currentIndex == i"
                      (click)="changeCurrentItem(location, i)">{{i + 1}}</span>
                <a [class.uk-disabled]="currentIndex == data.length - 1" class="uk-link" (click)="next()">
                    <span uk-icon="icon: arrow-right" class="green-main"></span>
                </a>
            </div>
        </div>

    </ng-template>

    <div id="footer-map" class="mg-no-select" (click)="goToGoogleMapLink()">
        <iframe [src]="getUrl(currentLocation) | safeUrl"
                *ngIf="currentLocation?.address"
                id="map"
                allowfullscreen="false"
                aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div id="footer-contacts">
        <mg-footer-contacts></mg-footer-contacts>
    </div>

    <ng-template [ngIf]="isFooterMap$ | async">
        <div class="cover-bottom" (click)="goToGoogleMapLink()"></div>
    </ng-template>

</div>
