<div class="timeslot"
     [ngStyle]="{
        'height.px': calculatedHeight,
        'top.px': yDelta
     }">

  <div class="time">
    <p>Час:</p>
    <p>{{originData?.startTime}} - {{originData?.endTime}}</p>
  </div>
  <hr>
  <p>Інструктор:</p>
  <p>{{master}}</p>
  <p class="section">Напрямок:</p>
  <p>{{section}}</p>
  <ng-container *ngIf="originData?.group">
    <p class="section">Група: {{originData?.group}}</p>
  </ng-container>
  <p class="section">Філіал:</p>
  <p>{{location}}</p>

</div>
