@import "variables";

:root {
  //--ck-color-focus-border: #{$mg-yellow-main};
  --ck-inner-shadow: 0;
  --ck-spacing-standard: 0;
  --ck-focus-ring: none;
}

.ck.ck-editor__editable_inline {
  border: none !important;
}
