<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">

    <div>
        <button class="uk-button uk-button-primary" type="submit">
            <span class="uk-margin-small-right" uk-icon="icon: download"></span>Зберігти
        </button>
    </div>

    <div class="uk-margin">
        <mg-list-errors [errorHtml]="errorHtml"></mg-list-errors>
    </div>

    <div class="uk-margin" style="max-width: 300px">

        <div class="uk-margin">
            <label class="uk-form-label" for="currentPassword">
                Текущий пароль
                <ng-container
                        *ngIf="hasError(passwordForm, passwordFormSubmitted, 'currentPassword', 'required')">
                    - це поле обов'язкове
                </ng-container>
            </label>
            <input type="password" class="uk-input" id="currentPassword"
                   placeholder="Введіть текущий пароль" formControlName="currentPassword">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="newPassword">
                Новый пароль
                <ng-container
                        *ngIf="hasError(passwordForm, passwordFormSubmitted, 'newPassword', 'required');">
                    - це поле обов'язкове
                </ng-container>
            </label>
            <input type="password" class="uk-input" id="newPassword" placeholder="Введіть новый пароль"
                   formControlName="newPassword">
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="confirmPassword">
                Підтвердіть пароль
                <ng-container
                        *ngIf="hasError(passwordForm, passwordFormSubmitted, 'confirmPassword', 'required'); else confirmPasswordMatch">
                    - це поле обов'язкове
                </ng-container>
                <ng-template #confirmPasswordMatch>
                    <ng-container
                            *ngIf="hasError(passwordForm, passwordFormSubmitted, 'confirmPassword', 'mustMatch')">
                        - пароль має збігатися
                    </ng-container>
                </ng-template>
            </label>
            <div class="uk-form-controls">
                <input type="password" class="uk-input" placeholder="Подтвердите новый пароль"
                       id="confirmPassword" formControlName="confirmPassword">
            </div>
        </div>

    </div>

</form>
