# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Mowgly.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\DevEnv\Workspaces\mowgly\.idea\.idea.Mowgly\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
