<div class="news-tournament-table uk-overflow-auto">
  <table class="uk-table uk-table-divide uk-table-justify">

    <caption>{{tournament?.name}}</caption>

    <thead>
    <tr>
      <th>Место</th>
      <th>Імʼя</th>
      <th>Награды</th>
      <th>Счет</th>
      <th>Дополнительная информация</th>
    </tr>
    </thead>

    <tbody>
    <ng-template [ngIf]="tournament && tournament.results && tournament.results.length" [ngIfElse]="resultsEmpty">
      <tr *ngFor="let result of tournament.results">
        <td class="uk-table-shrink" style="min-width: 50px">{{result.place}}</td>
        <td class="uk-table-expand" style="min-width: 200px">{{result.student.name}}</td>
        <td class="uk-table-shrink" style="min-width: 150px">{{result.awards}}</td>
        <td class="uk-table-shrink" style="min-width: 100px">{{result.score}}</td>
        <td class="uk-table-shrink" style="min-width: 150px">{{result.additionalInfo}}</td>
      </tr>
    </ng-template>
    <ng-template #resultsEmpty>
      <tr *ngFor="let i of [1, 2, 3]">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </ng-template>
    </tbody>

  </table>
</div>
