@import "variables";
@import "mixins";

#bg-1 {
  min-width: 800px;
  width: 800px;
}

#bg-2 {
  min-width: 750px;
  width: 100%;
}

#bg-4 {
  top: -30%;
  left: -60%;
}

#bg-5 {
  @include absolute-xy-center();
  width: 900px;
}

#ov-1 {
  left: -250px
}

#main-gallery {
  width: 550px;
}

#main-gallery-container-1 {
  @include xy-center;

  .wrapper {
    margin: 35px;
  }
}

#el-1 {
  margin-top: 150px;
  padding: 0 15px;
}

.mg-bg-5 {
  background-image: url("/assets/img/bg-5.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: $container-max-lg-width;
  height: 470px;
}

#el-2 {
  margin-top: 50px;
}

#el-2, #el-3 {
  p, h3 {
    padding: 0 15px;
  }
}

#el-4 {
  margin-top: 50px;

  h1 {
    margin-bottom: 100px;
  }
}

#el-6 {
  margin-top: 300px;
}

#el-7 {
  margin-top: 200px;

  p, h3 {
    padding: 0 15px;
  }

  .bg-wrapper {
    @include absolute-xy-center();

    .bg:first-of-type {
      left: 0%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .bg:nth-of-type(3) {
      left: 104%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#el-8 {
  margin-top: 300px;

  .white-frame {
    margin: 0 10px;
    padding: 20px 20px 30px;
    width: fit-content;
  }

  .bg {
    width: 600px;
  }

  .wrapper {
    margin: 200px 0 0;
    padding: 0 15px;
  }
}


@media (min-width: $breakpoint-small) {
  #main-gallery-container-1 .wrapper {
    margin: 100px;
  }
  #el-4 {
    margin-top: 100px;
  }

  #el-8 {
    margin-top: 400px;

    .white-frame {
      padding: 30px 30px 50px;
    }

    .bg {
      width: 850px;
    }
  }
}

@media (min-width: $breakpoint-large) {
  #el-1 {
    padding: unset;
  }

  #el-2, #el-4 {
    margin-top: 200px;
  }

  #el-7 {
    margin-top: 400px;
  }

  #el-6 {
    margin-top: 500px;
  }

  #el-8 {

    .wrapper {
      margin: auto 0;
    }

    .bg {
      width: 650px;
    }
  }
}

@media (min-width: $breakpoint-xlarge) {
  #el-2 {
    margin-top: 400px;
  }

  #el-4 {
    margin-top: 300px;
  }

  #el-8 {
    .white-frame {
      padding: 50px 50px 70px;
    }
    .bg {
      width: 950px;
    }
  }
}

@media (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge) {
  #main-gallery-container-1 {
    @include y-center-left();
  }

  #main-gallery {
    width: 450px;
  }

  #bg-5 {
    left: 0;
    top: 50%;
    transform: translate(-10%, -50%);
    width: 800px;
  }

}

@media (max-width: $breakpoint-medium) {
  #main-gallery-container-1 .wrapper {
    width: 100%;
  }

  #ov-1 {
    display: none;
  }
}
