<!-------------------------------  MAIN BLOCK  ------------------------------>

<div class="row">
  <div class="col-6 uk-margin-auto-vertical uk-flex">

    <div class="uk-display-inline-block uk-margin-auto">
      <h1>Маугли</h1>
      <p>Каратэ для детей рядом<br>с вашим домом!</p>
      <button class="uk-button uk-button-primary"><a>Записаться</a></button>
    </div>

  </div>

  <div class="col-6">
    <div class="uk-inline">
      <img id="bg-1" src="assets/img/bg-1.png" alt="background boys">
      <div id="ov-1" class="uk-overlay uk-overlay-icon uk-position-bottom-left">
        <img id="bg-2" class="main-image" src="assets/img/main-boys.png" alt="boys">
      </div>
    </div>
  </div>

  <div class="col-12 uk-text-center uk-margin-top">
    <a href="#el-3" uk-scroll>
      <mg-icon icon="arrow" color="green-main" width="50"></mg-icon>
    </a>
  </div>

</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  OUR GOALS  ------------------------------->

<div class="row mt-200">

  <div class="col-lg-10 uk-margin-auto-vertical">
    <div id="el-3" class="wrapper uk-inline">
      <h3>Наша цель</h3>
      <hr>
      <p>Гармоничное развитие личности, приобщение к здоровому образу жизни, приобретение навыков самообороны, изучение традиционного каратэ, совершенствование спортивное мастерства.</p>
      <div class="uk-overlay uk-overlay-icon uk-position-center-left z-m1 p-left-m200 mg-bg-5"></div>
    </div>
  </div>

  <div class="col-2 uk-position-relative display-lg-none">
    <div class="wrapper uk-text-center uk-inline">
      <img src="assets/img/masters/master-1.png">
      <p class="uk-text-bold">Хомутенко Руслан <br> Николаевич</p>
      <div id="bg-4" class="uk-overlay uk-overlay-icon z-m1 mg-bg-5"></div>
    </div>
  </div>

</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  ABOUT US  -------------------------------->

<div class="row mt-300">

  <div id="main-gallery-container-1" class="col-lg-7 uk-position-relative">
    <div id="main-gallery" class="wrapper">
      <mg-frame-gallery [imgPaths]="imgPaths"></mg-frame-gallery>
    </div>
    <img id="bg-5" class="bg" src="assets/img/bg-4.png">
  </div>

  <div class="col-lg-5 ml-auto">
    <div id="el-1" class="wrapper">
      <h1>О Клубе</h1>
      <p>Детский Центр «Маугли» является Общественной Организацией, созданной на добровольных основах, согласно с Законом Украины «Об объединениях граждан» и выполняет свою деятельность согласно с действующим законодательством Украины.</p>
      <p>Основной целью занятий в клубе является <span>гармоничное развитие личности</span>. Дети получают не только <span>физическое</span>, но и <span>духовное развитие</span>, направленное на воспитание морально-этических норм. Всего в  клубе тренируется около <span>270</span> спортсменов, среди которых как начинающие, так и спортсмены высокого уровня - обладатели черных поясов, чемпионы Мира и Европы.</p>
    </div>
  </div>

</div>


<!--------------------------------------------------------------------------->

<!-------------------------------  IN OUR PROGRAM  -------------------------->

<div id="el-2" class="row uk-position-relative">
  <div class="col-12">
    <h3>В программе обучения</h3>
    <hr>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Общая физическая подготовка</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Специальная физическая подготовка</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Традиционное каратэ (стиль ШОТОКАН)</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Прикладная техника каратэ для самообороны</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Аттестация на пояса, включая чёрные для детей</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Соревнования различных уровней и правил</p></div>
  <img class="bg absolute-xy-center w-xl-container" src="assets/img/bg-2.png">
</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  OUR MASTERS  ----------------------------->

<div id="el-4" class="row">

  <div class="col-12 uk-text-center">
    <h1>Наши инструктора</h1>
  </div>

  <div class="col-12 uk-position-relative">
    <div id="el-5">
      <mg-master-slider></mg-master-slider>
    </div>
    <img class="bg absolute-xy-center" src="assets/img/bg-3.png">
  </div>


</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  OUR GROUPS  ----------------------------->

<div id="el-6" class="wrapper">
  <mg-linked-accordion></mg-linked-accordion>
</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  NOT ONLY  ----------------------------->

<div id="el-7" class="row justify-content-around uk-position-relative">

  <div class="col-12">
    <h3>Клуб Маугли это не только каратэ</h3>
    <hr>
  </div>

  <div class="col-sm-auto"><p>Детская хореография</p></div>
  <div class="col-sm-auto"><p>Детский фитнесс</p></div>
  <div class="col-sm-auto"><p>Йога</p></div>
  <div class="col-sm-auto"><p>ММА</p></div>
  <div class="col-sm-auto"><p>Растяжка для детей</p></div>

  <div class="bg-wrapper">
    <img class="bg display-sm-none" src="assets/img/bg-5.png">
    <img class="bg absolute-xy-center" src="assets/img/karate-1.png">
    <img class="bg display-sm-none" src="assets/img/bg-5.png">
  </div>

</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  NOT ONLY  ----------------------------->

<div id="el-8" class="row">

  <div class="col-lg-6 uk-position-relative x-center">
    <div class="white-frame"><img src="assets/img/photo-5.png"></div>
    <img class="bg absolute-xy-center" src="assets/img/bg-8.png">
  </div>

  <div class="col-lg-5 ml-auto d-flex">
    <div class="wrapper">
      <h1>Только вперед</h1>
      <p class="mt-4">Клуб активно развивается во всех направлениях спортивной и общественной деятельности, привлекая в свои ряды все новых и новых приверженцев этого прекрасного вида спорта и образа жизни.</p>
      <p>Стань участником клуба и измени свою жизнь сейчас!</p>
      <button class="uk-button uk-button-primary mt-3">Записаться</button>
    </div>
  </div>

</div>

<!--------------------------------------------------------------------------->
