<div class="record-row mt-100 y-center uk-position-relative" [@fadeInAnimation]>

  <h1>Запис на заняття</h1>

  <h3 class="mt-0" [@fadeInAnimation]="steps[this.state.currentStep]">{{steps[this.state.currentStep]}}</h3>

  <div class="mg-stepper-nav">

    <ul class="stepper" [id]="switcherId" uk-switcher="animation: uk-animation-fade; connect: #mg-reg-switcher">
      <li><a href="#"><div class="step" [ngClass]="{active: (this.state.currentStep >= 0)}"></div></a></li>
      <li><a href="#"><div class="step" [ngClass]="{active: (this.state.currentStep >= 1)}"></div></a></li>
      <li><a href="#"><div class="step" [ngClass]="{active: (this.state.currentStep >= 2)}"></div></a></li>
      <li><a href="#"><div class="step"  [ngClass]="{active: (this.state.currentStep >= 3)}"></div></a></li>
    </ul>

    <a [hidden]="this.state.currentStep == 0"  class="mg-stepper-back-btn"><mg-icon (click)="prevStep()" icon="long-arrow" color="green-main" width="90"></mg-icon></a>

  </div>

  <div class="mg-stepper-body">

    <ul id="mg-reg-switcher" class="uk-switcher mt-100">

      <li id="step-1">

        <ul uk-accordion>

          <li *ngFor="let group of locationsCityGroups | keyvalue; let firstItem = first;" [ngClass]="{ 'uk-open': firstItem }">

            <a class="uk-accordion-title" href="#">{{group.key}}</a>

            <div class="uk-accordion-content">
              <div class="row">
                <div class="col-md-6 col-xl-auto" *ngFor="let location of group.value">
                  <div class="wrapper">
                    <mg-location-card [location]="location">
                        <button (click)="chooseLocation(location)" class="uk-button uk-button-primary ml-auto">Вибрати</button>
                    </mg-location-card>
                  </div>
                </div>
              </div>
            </div>

          </li>

        </ul>

      </li>

      <li id="step-2">
        <div class="uk-grid uk-child-width-1-2@m" uk-grid="masonry: true">

          <div class="" *ngFor="let section of sections">
            <mg-reg-section
                            [section]="section"
                            (sectionSelected)="sectionSelected(section)"
                            (openTimeTable)="showSectionTimeTableRecords(section)"></mg-reg-section>
          </div>

        </div>
      </li>

      <li id="step-3">
        <mg-master-slider [cardBottomRef]="cardBottom" [masters]="masters">
          <ng-template let-master #cardBottom>

            <div class="d-flex align-items-center justify-content-between uk-flex-wrap">
              <a (click)="showMasterTimeTableRecords(master)"><span class="uk-margin-right"><mg-icon color="green-main" icon="calendar"></mg-icon></span>Розклад</a>
              <button (click)="masterSelected(master)" class="uk-button uk-button-primary">Вибрати</button>
            </div>

          </ng-template>
        </mg-master-slider>
      </li>

      <li id="step-4">
        <mg-reg-personal-data (onSubmit)="sendRegistrationData($event)"></mg-reg-personal-data>
      </li>

    </ul>

  </div>

  <img src="assets/img/bg-11.png" class="mg-bg absolute-xy-center" loading="lazy" alt="background">

</div>
