@import "variables";
@import "mixins";

.record-row {
  position: relative;
  min-height: 1200px;

  > .uk-switcher {
    width: 100%;
  }

  .mg-stepper-body { width: 100%; }

  .mg-bg {
    width: unset;
    top: 670px;
  }

  .back-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: rotate(180deg) translateY(-50%);
  }
  .skip-btn {
    @include xy-center();
    span { margin: 0 15px 0 0; }
  }
}

.mg-stepper-nav {
  width: 100%;
  position: relative;

  display: flex;
  justify-content: center;

  .mg-stepper-back-btn {
    position: absolute;
    left: 0;
    top: 34%;
  }

  .mg-stepper-skip-btn {
    position: absolute;
    right: 0;
    top: 34%;
  }
}

@media (max-width: $mg-breakpoint-small) {
  .mg-stepper-nav {
    flex-direction: row !important;
    flex-wrap: wrap;

    .stepper {
      width: 100%;
    }

    .mg-stepper-back-btn, .mg-stepper-skip-btn {
      position: relative;
      margin-top: 10px;
    }

    .mg-stepper-skip-btn {
      margin-left: auto;
    }
  }

  #mg-reg-switcher {
    margin-top: 20px;
  }

  .mg-stepper-nav {
    flex-direction: column;
    align-items: center;
  }
}

.stepper {
  display: flex;
  list-style-type: none;
  padding-left: 0;

  li {
    pointer-events: none;

    &:not(:first-of-type) .step {
      margin-left: 80px;
      position: relative;

      &:before {
        position: absolute;
        left: -75px;
        top: 7px;
        content: '';
        width: 70px;
        height: 2px;
        background: $mg-light-background;
      }
    }

    .step {
      $radius: 15px;
      width: $radius;
      height: $radius;
      background: $mg-light-background;
      border-radius: 12px;

      &.active {
        background: $mg-yellow-main;
        &:before { background: $mg-yellow-main; }
      }
    }
  }
}

#step-1 {
  .wrapper {
    max-width: 600px;
    height: 100%;
  }

  .uk-accordion-content > .row > div {
    margin-bottom: 50px;
    padding: 0 25px;
  }

}
