.mg-card-news {
  width: 100%;
}

.mg-textarea {
  width: 100%;
  border: unset;
  padding: unset;
}

.mg-editor {
  position: absolute;
  right: -1px;
  top: 0;
  transform: translateY(-100%);
  z-index: 1;
}

