<div class="row justify-content-center uk-position-relative">
    <div class="col-md-10">

        <div uk-grid class="uk-grid-small uk-child-width-1-2@m uk-child-width-auto@l uk-margin">
            <div>
                <button class="uk-button uk-button-primary w-100" (click)="publish()">{{news.id ? 'Опубліковати зміни' : 'Опубліковати'}}</button>
            </div>
            <ng-template [ngIf]="!news.id" [ngIfElse]="editMode">
                <div>
                    <button class="uk-button uk-button-default w-100" (click)="saveResult()">Зберігти</button>
                </div>
                <div>
                    <button class="uk-button uk-button-default w-100" (click)="reset()">Очистити</button>
                </div>
            </ng-template>
            <ng-template #editMode>
                <div *mgMgIfPerm="'Permission.News.Delete'">
                    <button class="uk-button uk-button-danger w-100" (click)="delete()">Видалити</button>
                </div>
            </ng-template>
            <div *ngIf="!news?.imageUrl"><button class="uk-button uk-button-default w-100" (click)="editImageCover()">Додати обкладинку</button></div>
            <div *ngIf="news?.imageUrl"><button class="uk-button uk-button-danger w-100" (click)="deleteImageCover()">Видалити обкладинку</button></div>
            <div><button class="uk-button uk-button-default w-100" (click)="addTextBlock()">Додати текстовий блок</button></div>
            <div><button class="uk-button uk-button-default w-100" (click)="addTournamentTable()">Додати таблицю результатів</button></div>
        </div>

        <div class="uk-card uk-card-default mt-50" *ngIf="news">

            <div class="uk-card-media-top">
                <ng-template [ngIf]="news?.imageUrl">
                    <img [src]="news.imageUrl | image" style="width: 100%">
                </ng-template>
            </div>

            <div class="uk-flex uk-flex-row uk-flex-column uk-flex-between">

                <div class="uk-card-body">

                    <!--     Title     -->

                    <input id="manage-title-field"
                           class="mg-manage-input uk-h3 uk-card-title"
                           type="text"
                           placeholder="Введіть заголовок"
                           [(ngModel)]="news.title">

                    <!--     Description     -->

                    <mg-ck-editor [(ngModel)]="news.description" [extraConfig]="descriptionEditorConfig"></mg-ck-editor>

                    <ng-template [ngIf]="news.blocks && news.blocks.length">
                        <div class="news-description">
                            <div *ngFor="let block of news.blocks">

                                <!--       Text type       -->

                                <ng-template [ngIf]="block.type == blockTypes.Text">
<!--                                    <div class="uk-animation-fade uk-animation-fast mg-news-text-editor">-->
<!--                                        <mg-manage-block-->
<!--                                                [editTool]="false"-->
<!--                                                [block]="block">-->
                                            <mg-ck-editor [(ngModel)]="block.data" [extraConfig]="textBlockEditorConfig"></mg-ck-editor>
<!--                                        </mg-manage-block>-->
<!--                                    </div>-->
                                </ng-template>

                                <!--       Video type       -->

                                <ng-template [ngIf]="block.type == blockTypes.Video">
                                    <div class="news-video uk-animation-fade uk-animation-fast">
                                        <mg-manage-block [block]="block"
                                                         (onBlockEdit)="editVideo(block)">
                                            <iframe [src]="block.data | safeUrl"
                                                    width="1920"
                                                    height="1080"
                                                    allowfullscreen
                                                    uk-responsive
                                                    uk-video="automute: true; autoplay: false"></iframe>
                                        </mg-manage-block>
                                    </div>
                                </ng-template>

                                <!--       Tournament Results Table type       -->

                                <ng-template [ngIf]="block.type == blockTypes.TournamentResultsTable">
                                    <div class="uk-animation-fade uk-animation-fast">
                                        <mg-manage-block [block]="block"
                                                         [editTool]="false">
                                            <mg-manage-tournament-table [data]="block.data"></mg-manage-tournament-table>
                                        </mg-manage-block>
                                    </div>
                                </ng-template>

                                <ng-template [ngIf]="block.type | unsupportedType">
                                    <mg-manage-block [block]="block"
                                                     [editTool]="false">
                                        <p class="uk-text-danger uk-text-center">
                                            <span uk-icon="icon: warning" class="uk-margin-small-right"></span>
                                            Непідтримуваний тип блоку, будь ласка, видаліть його
                                        </p>
                                    </mg-manage-block>
                                </ng-template>

                            </div>
                        </div>
                    </ng-template>

                </div>

            </div>
        </div>
    </div>

    <mg-bg></mg-bg>
    <div class="mt-100"></div>
</div>

<mg-add-image-modal #addImageCoverModal></mg-add-image-modal>

<mg-add-image-modal #addImageModal></mg-add-image-modal>
<mg-manage-news-image-cover-modal #imageCoverModal></mg-manage-news-image-cover-modal>
<mg-manage-text-html-modal #textHtmlModal></mg-manage-text-html-modal>
<mg-manage-news-video-modal #videoModal></mg-manage-news-video-modal>
<mg-choose-or-create-event-modal #createEventModal></mg-choose-or-create-event-modal>
