<div class="row mt-50 justify-content-center uk-position-relative">
  <div class="col-md-10">
    <ng-template [ngIf]="!newsNotFound" [ngIfElse]="notFound">
      <div class="uk-card mg-card-news uk-card-default uk-grid-collapse uk-margin w-100">

        <ng-template [ngIf]="data?.imageUrl">
          <div class="uk-card-media-left uk-cover-container">
            <!--    todo: alt    -->
            <img [src]="data.imageUrl | image" alt="article image" uk-cover>
            <canvas width="600" height="400"></canvas>
          </div>
        </ng-template>

        <div class="uk-flex uk-flex-row uk-flex-column uk-flex-between">

          <div class="uk-card-body news-description">

            <h3>{{data?.title}}</h3>

            <p>{{data?.description}}</p>

            <ng-template [ngIf]="data?.blocks && data.blocks.length">
              <div *ngFor="let block of data.blocks | sorted">

                <!--       Text type       -->

                <ng-template [ngIf]="block.type == blockTypes.Text">
                  <div [innerHTML]="block.data | safeHtml"></div>
                </ng-template>

                <!--       Video type       -->

                <ng-template [ngIf]="block.type == blockTypes.Video">
                  <div class="news-video">
                    <iframe [src]="block.data | safeUrl"
                            width="1920"
                            height="1080"
                            allowfullscreen
                            uk-responsive
                            uk-video="automute: true; autoplay: false"></iframe>
                  </div>
                </ng-template>

                <!--       Image type       -->

                <ng-template [ngIf]="block.type == blockTypes.Image">
                  <mg-news-image-block [data]="block.data"></mg-news-image-block>
                </ng-template>

                <!--       Image type       -->

                <ng-template [ngIf]="block.type == blockTypes.TournamentResultsTable">
                  <mg-news-tournament-table [data]="block.data"></mg-news-tournament-table>
                </ng-template>


              </div>
            </ng-template>

          </div>

          <div class="uk-card-footer uk-flex uk-flex-between align-items-center">


            <div>
              <h1 class="uk-text-meta uk-margin-remove">{{data?.author}}</h1>
              <p class="uk-text-meta uk-margin-remove">{{data?.createdDate | date : 'longDate'}}</p>
            </div>

            <div>
              <a href="#" class="uk-button uk-button-text" [routerLink]="['/news']">Назад к новостям <span
                uk-icon="arrow-left"></span></a>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #notFound>
      <h3 class="uk-text-center mt-200">Новость не найдена = (</h3>
    </ng-template>
  </div>

  <!-- todo  -->
  <!--  <mg-bg></mg-bg>-->
</div>
