<!--    todo -->
<div class="mg-bg xy-center absolute-x-center uk-flex-column" [ngStyle]="{'top': offset | px}">
    <img loading="lazy"
         class="uk-display-block"
         style="max-width: unset"
         src="/assets/img/bg-15.png"
         alt="background">
    <img loading="lazy"
         class="uk-display-block rotate-180"
         style="max-width: unset"
         src="/assets/img/bg-15.png"
         alt="background">
<!--    <div class="mg-background-green-main uk-height w-100">-->
<!--    </div>-->
</div>
