.main-row {
  .main-image-container {
    margin-top: 200px;
    position: relative;

    .main-image {
      position: relative;
      width: 800px;
      z-index: 2;
    }

    .main-image-background {
      width: 800px;
      z-index: 1;
      position: absolute;
      top: -180px;
      left: 50px;
    }
  }
}

.our-goals-row {
  $top: -60px;
  $width: 1200px;

  .bg-1 {
    width: $width;
    top: $top;
    left: -300px;
  }

  .bg-2 {
    width: $width;
    top: $top;
    left: -50px;
  }
}

.about-row {
  $sw-width: 600px;
  $sw-height: 450px;

  .white-frame {
    width: $sw-width;
    //height: $sw-height;
    background: $white;
    padding: 40px 40px 70px;
    box-shadow: 25px 30px 25px rgba(0, 0, 0, 0.15);

    .sw-nav {
      margin: 0 auto;
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;

      > * {
        color: $white;
        margin: 0 20px;
      }

      .sw-nav--num.active {
        color: $yellow-main;
      }
    }
  }

  .bg {
    width: 900px;
  }
}

.our-masters-row {
  .bg {
    left: 50%;
    transform: translateX(-50%);
    bottom: -300px;
    width: 100vw;
  }

  .cards {
    margin-top: 25px;
  }

  .nav-btn {
    position: absolute;
    z-index: 1;
  }

  .nav-left {
    left: -80px;
    top: 50%;
  }

  .nav-right {
    transform: rotate(180deg);
    right: -80px;
    top: 50%;
  }

  .card {
    max-width: 400px;
    height: 100%;
    text-align: center;
  }
}

.our-groups {
  .card {
    align-items: end;
    width: 600px;
    text-align: left;
    padding: 50px 50px 25px;

    .card-bottom {
      align-items: center;
      margin-top: 30px;

      .uk-button {
        height: fit-content;
      }
    }

  }

  .col-4 .wrapper {
    margin-top: 30px;
    position: relative;
    padding-left: 40px;

    &:before {
      z-index: 2;
      content: '';
      position: absolute;
      display: block;
      left: 10px;
      top: -10px;
      bottom: -10px;
      width: 2px;
      background: $yellow-main;
    }
  }

  .bg {
    @include absolute-xy-center
  }
}
