@media (min-width: 1920px) {
  .container {
    max-width: 1800px;
  }
  main {
    max-width: 1500px;
    margin: 0 auto;
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

h3 {
  color: $green-main;
}

hr {
  border-top-color: $yellow-main;
}

header {
  padding-top: 15px;
  .logo-image {
    width: 100px;
  }
  nav {
    display: flex;
    .menu {
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .avatar {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 30px;
      a {
        margin-right: 25px
      }
    }
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      a:not(:last-of-type) {
        margin-bottom: 12px
      }
    }
  }
}

.main-row {
  .main-image-container {
    margin-top: 200px;
    position: relative;
    .main-image {
      position: relative;
      width: 800px;
      z-index: 2;
    }
    .main-image-background {
      width: 800px;
      z-index: 1;
      position: absolute;
      top: -180px;
      left: 50px;
    }
  }
}

.bg {
  position: absolute;
  z-index: 1;
  max-width: unset;
}

.our-goals-row {
  margin-top: 200px;
  $top: -60px;
  $width: 1200px;
  .bg-1 {
    width: $width;
    top: $top;
    left: -300px;
  }
  .bg-2 {
    width: $width;
    top: $top;
    left: -50px;
  }
}

.about-row {
  margin-top: 200px;
  $sw-width: 600px;
  $sw-height: 450px;
  .white-frame {
    width: $sw-width;
    //height: $sw-height;
    background: $white;
    padding: 40px 40px 70px;
    box-shadow: 25px 30px 25px rgba(0, 0, 0, 0.15);
    .sw-nav {
      margin: 0 auto;
      position: absolute;
      bottom: 30px;
      left: 0;
    }
  }
  .bg-1 {
    width: 850px;
    z-index: 1;
    top: -150px;
    left: 0;
  }
}
