<div class="row align-items-stretch">

  <div class="col-lg-6">

    <div class="mg-card">
      <h3>Важлива інформація</h3>
      <p>Членство у Центі лише індивідуальне. Прийом до членів Центру здійснюється з 4-річного віку. Особи, які не досягли 14-річного віку, приймаються до Центру після подання письмової заяви від батьків чи опікунів.</p>
    </div>

    <div class="mg-card">
      <h3>Що потрібно для вступу до клубу</h3>
      <ul>
        <li>Надати довідку від терапевта про допуск до занять спортом</li>
        <li>Надати ксерокопію свідоцтва про народження</li>
        <li>Дві фотографії 3х4</li>
        <li>Спортивну тренувальну форму (першого місяця до занять допускаються лише у кімоно)</li>
      </ul>
    </div>

  </div>

  <div class="col-lg-6">

    <div class="mg-card">

      <div class="uk-text-center">
        <h1>Анкета учня</h1>
        <p>Карате — Навчально-тренувальна група</p>
      </div>

      <div class="mg-card-image uk-align-center uk-margin-small">
        <div class="uk-border-circle uk-overflow-hidden user-default-avatar"
             style="padding: 5px; width: 128px; height: 128px;">
          <div class="uk-border-circle uk-overflow-hidden w-100 uk-text-center">
            <span uk-icon="icon: avatar;"></span>
          </div>
        </div>
      </div>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="uk-margin">
          <label for="firstName" class="uk-form-label">
            Ім'я <sup>*</sup>
            <ng-template [ngIf]="hasError('firstName', 'required')">
              - це поле обов'язкове
            </ng-template>
          </label>
          <input type="text" class="uk-input" placeholder="Імʼя" formControlName="firstName" id="firstName">
        </div>
        <div class="uk-margin">
          <label for="lastName" class="uk-form-label">Прізвище</label>
          <input type="text" class="uk-input" placeholder="Прізвище" formControlName="lastName" id="lastName">
        </div>
        <div class="uk-margin">
          <label for="phoneNumber" class="uk-form-label">
            Номер телефону
            <sup>*</sup>
            <ng-template [ngIf]="hasError('phoneNumber', 'required')">
              - це поле обов'язкове
            </ng-template>
          </label>
          <input type="text" class="uk-input" placeholder="Номер телефону" formControlName="phoneNumber" id="phoneNumber">
        </div>
        <div class="uk-margin">
          <label for="email" class="uk-form-label">Емейл</label>
          <input type="text" class="uk-input" placeholder="Емейл" formControlName="email" id="email">
        </div>
        <div class="uk-margin-medium d-flex justify-content-between align-items-center">
          <label><input type="checkbox" class="uk-checkbox" formControlName="isParent">Батько</label>
          <button class="uk-button uk-button-primary" type="submit">Відправити заявку</button>
        </div>
      </form>

    </div>

  </div>

</div>
