<div [id]="id" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header">
            <h3 class="uk-modal-title">Профиль пользователя</h3>
        </div>

        <form [formGroup]="form" (ngSubmit)="submit()">

            <div class="uk-modal-body">
                <div class="uk-grid-small" uk-grid>

                    <!--     1 COLUMN     -->
                    <div uk-form-custom>

                        <div class="uk-border-circle mg-background-green-main uk-overflow-hidden"
                             *ngIf="!form.value.avatar || imgAvatarErr; else imgAvatar"
                             style="padding: 10px;width: 200px; height: 200px;">
                            <div class="uk-border-circle uk-overflow-hidden mg-text-green">
                                <a uk-icon="icon: avatar;"></a>
                            </div>
                        </div>

                        <ng-template #imgAvatar>
                            <img class="uk-border-circle uk-background-primary"
                                 [src]="form.value.avatar | image"
                                 (loadeddata)="onLoaded($event); imgAvatarErr = false;"
                                 (error)="imgAvatarErr = true;"
                                 width="200"
                                 height="200"
                                 loading="lazy"
                                 style="padding: 10px"
                                 alt="Master card image avatar">
                        </ng-template>

                        <div class="uk-margin uk-text-center">
                            <a>Изменить фото</a>
                            <input type="file" id="cardImage" accept="image/*" (change)="cropImage($event)">
                        </div>
                    </div>

                    <!--     2 COLUMN     -->
                    <div>
                        <!--     First name     -->

                        <div class="uk-margin">
                            <label class="uk-form-label" for="firstName">Имя:</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" placeholder="Имя" formControlName="firstName"
                                       id="firstName">
                            </div>
                        </div>

                        <!--     Last name     -->

                        <div class="uk-margin">
                            <label class="uk-form-label" for="lastName">Фамилия:</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" placeholder="Фамилия" formControlName="lastName"
                                       id="lastName">
                            </div>
                        </div>

                        <!--     Middle name     -->

                        <div class="uk-margin">
                            <label class="uk-form-label" for="middleName">Отчетсво:</label>
                            <div class="uk-form-controls">
                                <input type="text" class="uk-input" placeholder="Отчество"
                                       formControlName="middleName"
                                       id="middleName">
                            </div>
                        </div>

                    </div>

                    <!--     3 COLUMN     -->
                    <div>
                        <!--     Birthday name     -->

                        <div class="uk-margin">
                            <label class="uk-form-label" for="birthday">Дата рождения:</label>
                            <div class="uk-form-controls">
                                <div class="uk-inline w-100">
                              <span class="uk-form-icon uk-form-icon-flip mg-text-green-main"
                                    uk-icon="icon: calendar"></span>
                                    <input type="date" class="uk-input" placeholder="Дата рождения"
                                           formControlName="birthday"
                                           id="birthday">
                                </div>
                            </div>
                        </div>

                        <!--     Email     -->

                        <div class="uk-margin">
                            <label class="uk-form-label" for="email">Емейл:</label>
                            <div class="uk-form-controls">
                                <input type="email" class="uk-input" placeholder="Емейл" formControlName="email"
                                       id="email">
                            </div>
                        </div>

                        <!--     Phone Number     -->

                        <div class="uk-margin">
                            <label class="uk-form-label" for="phoneNumber">Мобильный телефон:</label>
                            <div class="uk-form-controls">
                                <input type="tel" class="uk-input" placeholder="Мобильный телефон"
                                       formControlName="phoneNumber"
                                       id="phoneNumber">
                            </div>
                        </div>
                    </div>

                    <!--     4 COLUMN     -->
                    <div>
                        <div class="uk-margin" uk-form-custom>
                            <label>Тип пользователя:</label>
                            <div class="uk-margin-small" *ngFor="let type of userTypes">
                                <label>
                                    <input class="uk-checkbox"
                                           type="checkbox"
                                           (change)="checkUserType($event, type.key)"
                                           [checked]="form.value.userTypes | hasFlag: type.key">{{type.value}}
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

                <mg-image-cropp-modal #cropImageModal
                                      [circleCropper]="true"
                                      [saveOptions]="{width: 200, height: 200}"
                                      (onSave)="onImageCropped($event)"
                                      [aspectRatio]="1"></mg-image-cropp-modal>
            </div>

            <div class="uk-modal-footer uk-text-right mg-margin-between">
                <button class="uk-button uk-button-primary" type="button" (click)="submit()">Сохранить</button>
                <button class="uk-button uk-button-danger" type="button" (click)="delete()">Удалить</button>
                <button class="uk-button uk-button-default" type="button" (click)="close()">Отмена</button>
            </div>

        </form>

    </div>
</div>
