<div class="uk-position-relative contacts-container">

    <img class="mg-no-select bg-bottom" src="/assets/img/bg-10.webp" loading="lazy">

    <div class="contacts">

        <h1>Контакти</h1>
        <hr>
        <div class="uk-child-width-auto@l" uk-grid uk-margin>
            <div>
                <div class="uk-margin">
                    <a class="mg-text-white" href="https://www.instagram.com/mowgly.karate.club/"
                       target="_blank">
                        <span class="uk-margin-small-right" uk-icon="icon: instagram;"></span>Instagram
                    </a>
                </div>
                <div class="uk-margin">
                    <a class="mg-text-white" href="https://www.facebook.com/JungleTeamMowgly/"
                       target="_blank">
                        <span class="uk-margin-small-right" uk-icon="icon: facebook;"></span>Facebook
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-margin">
                    <a class="mg-text-white" href="tel:+380 (067) 700-555-3"
                       target="_blank">
                        <span class="uk-margin-small-right" uk-icon="icon: receiver;"></span>+380 (067) 700-555-3
                    </a>
                </div>
                <div class="uk-margin">
                    <a class="mg-text-white" href="tel:+380 (063) 700-555-3"
                       target="_blank">
                        <span class="uk-margin-small-right" uk-icon="icon: receiver;"></span>+380 (063) 700-555-3
                    </a>
                </div>
            </div>
            <div class="uk-margin-auto-bottom">
                <a class="mg-text-white" href="mailto:mowglyteam@gmail.com" target="_blank">
                    <span class="uk-margin-small-right" uk-icon="icon: mail;"></span>mowglyteam@gmail.com
                </a>
            </div>
            <div class="uk-margin-auto-left uk-margin-auto-bottom">
                <p>© Mowgly 2020 - All rights reserved</p>
            </div>
        </div>


    </div>

</div>


