<div class="row mt-100" id="scroll-point">
    <div class="col-12">
        <h1 class="uk-text-center">Інструктора</h1>

        <div class="mg-tools mt-50 uk-grid-small uk-child-width-1-2@s uk-child-width-auto@m" uk-grid>

            <div>
                <div class="uk-search uk-search-default w-100">
                    <a class="uk-search-icon-flip"
                       (click)="refreshData()"
                       uk-search-icon></a>
                    <input class="uk-search-input uk-input" type="search" placeholder="Пошук"
                           (keyup.enter)="refreshData()"
                           (ngModelChange)="filterText = $event;" [ngModel]="filterText">
                </div>
            </div>

            <div>
                <select class="uk-select" [(ngModel)]="filteringCity" (ngModelChange)="refreshData()">
                    <option [ngValue]="null">Всі міста</option>
                    <option *ngFor="let city of options?.cities" [ngValue]="city">{{city}}</option>
                </select>
            </div>

            <div>
                <select class="uk-select" [(ngModel)]="filteringSection" (ngModelChange)="refreshData()">
                    <option [ngValue]="null">Всі секції</option>
                    <option *ngFor="let section of options?.sections" [ngValue]="section.id">{{section.name}}</option>
                </select>
            </div>

            <div>
                <button class="uk-button uk-button-primary w-100" type="button" (click)="refreshData()">
                    <span class="uk-margin-small-right" uk-icon="refresh"></span>Оновити
                </button>
            </div>

            <div>
                <button class="uk-button uk-button-primary w-100" type="button" (click)="reset()">
                    <span class="uk-margin-small-right" uk-icon="close"></span>Скинути фільтри
                </button>
            </div>

        </div>

    </div>

    <div class="uk-position-relative">
        <div class="col-12 mt-50 uk-position-relative w-100" [mgLoadingBg]="false" [mgLoading]="loading">
            <div uk-grid="masonry: true" class="uk-child-width-1-3@l uk-child-width-1-2@m"
                 style="min-height: 400px">

                <mg-master-card *ngFor="let master of data"
                                [master]="master">
                    <a [routerLink]="['/master', master.id]">
                        <button type="button" class="uk-button uk-button-primary">
                            Дізнатися більше
                        </button>
                    </a>
                </mg-master-card>


            </div>

            <div class="mt-50">
                <mg-pagination [pageOptions]="pageOptions"
                               (onPageChanged)="pageOptions = $event; refreshData()"></mg-pagination>
            </div>

        </div>

        <mg-bg [offset]="-180"></mg-bg>
    </div>

    <div class="mt-200 uk-text-center x-center" id="text-1">
        <div class="wrapper" style="max-width: 600px">
            <h1>Чекаємо на вас!</h1>
            <p>Клуб активно розвивається у всіх напрямках спортивної та громадської діяльності, залучаючи до своїх лав все нових та нових прихильників цього прекрасного виду спорту та способу життя!</p>
            <button class="uk-button uk-button-primary uk-margin" routerLink="/registration" type="button">Записатись</button>
        </div>
    </div>


</div>
