<mg-manage-modal [title]="'Додати изображение'"
                 [id]="id"
                 (onCancel)="close()"
                 (onSubmit)="submit()"
                 [isDeleteButton]="false">

  <form [formGroup]="form">
    <div class="uk-margin">
      <label class="uk-form-label" for="url">Зображення:</label>
      <div class="uk-form-controls">
        <input readonly="true" type="text" class="uk-input" placeholder="Посилання або маркер зображення" formControlName="url" id="url">
      </div>
    </div>

    <div class="uk-margin">
      <p class="uk-text-middle">Додати нове <a (click)="addNewImage()">зображення</a></p>
    </div>

    <div *ngIf="showCaptionInput" class="uk-margin">
      <label class="uk-form-label" for="caption">Підпис:</label>
      <div class="uk-form-controls">
        <input type="text" class="uk-input" placeholder="Додайте підпис зображення" formControlName="caption" id="caption">
      </div>
    </div>
  </form>

</mg-manage-modal>

<mg-add-image-modal #addImageModal [aspectRatio]="3/2" [saveOptions]="{maxHeight: 400, maxWidth: 600}"></mg-add-image-modal>
