<div class="row mg-linked-acc" *ngIf="lgBreakpoint">

  <div class="col-lg-5 col-xl-4">
    <div class="mg-linked-acc-left">
      <h1>Наши группы</h1>
      <div class="mg-linked-acc-links">
        <a *ngFor="let price of prices" [class.active]="price == currentPrice" (click)="currentPrice = price">{{price.title}}</a>
      </div>
    </div>
  </div>

  <div class="col-lg-7 col-xl-8 uk-position-relative">

    <div class="mg-card">
      <h3 [@fadeInAnimation]="currentPrice">{{currentPrice.title}}</h3>
      <p [@fadeInAnimation]="currentPrice">{{currentPrice.description}}</p>
      <div class="mg-card-bottom">
        <div class="wrapper">
          <a><mg-icon color="green-main" icon="calendar"></mg-icon> Посмотреть расписание</a>
          <p>Цена - <span [@fadeInAnimation]="currentPrice">{{currentPrice.price}}</span></p>
        </div>
        <button class="uk-button uk-button-primary ml-auto">Узнать больше</button>
      </div>

    </div>

    <img class="mg-bg mg-linked-acc-bg" src="../../../../assets/img/bg-6.png">
  </div>

</div>

<div *ngIf="!lgBreakpoint" class="mg-linked-acc">
  <ul [id]="accordionId" uk-accordion="collapsible: false">
    <li *ngFor="let price of prices" [class.uk-open]="price == accordionCurrentPrice" (click)="currentPrice = price">

      <a class="uk-accordion-title mg-accordion-title" href="#">{{price.title}}</a>

      <div class="uk-accordion-content">
        <div class="mg-card">

          <h3>{{price.title}}</h3>

          <p>{{price.description}}</p>

          <div class="mg-card-bottom">

            <div class="wrapper">
              <a><mg-icon color="green-main" icon="calendar"></mg-icon> Посмотреть расписание</a>
              <p>Цена - <span>{{price.price}}</span></p>
            </div>

            <button class="uk-button uk-button-primary">Узнать больше</button>

          </div>

        </div>
      </div>
    </li>
  </ul>
</div>
