@import "variables";
@import "mixins";

.mg-linked-acc-bg {
  @include absolute-xy-center();
}

.mg-card {
  width: 100%;
  height: auto;
  padding: 50px;
  margin: 0 auto;
  text-align: left;

  p {
    margin: 0;
  }

  .mg-card-bottom {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 30px;

    p:last-of-type {
      margin-top: 15px;
    }

    & > * {
      margin: 10px 0;
    }

    .uk-button {
      margin: 20px auto 0;
      height: fit-content;
    }
  }
}

.mg-linked-acc-links {
  margin-top: 30px;
  position: relative;
  padding-left: 40px;

  a {
    display: block;
    margin: 30px 0;

    &.active {
      color: $mg-green-main;
    }
  }

}

.mg-linked-acc-links, li {
  &:before {
    z-index: 2;
    content: '';
    position: absolute;
    display: block;
    left: 10px;
    top: -10px;
    bottom: -10px;
    width: 2px;
    background: $mg-yellow-main;
  }
}

ul {
  margin-left: 50px;

  li {
    position: relative;
    padding-bottom: 50px;

    &:before {
      left: -35px;
    }

    &.active a {
      color: $mg-green-main;
    }

    .mg-card {
      margin: 0;
    }
  }
}

.mg-linked-acc-left {
  padding-left: 15px;
}

.uk-accordion-content {
  margin-right: 15px;
}

@media (min-width: $mg-breakpoint-xlarge) {
  .mg-linked-acc-left {
    margin-left: unset;
  }
}

@media (min-width: $mg-breakpoint-medium) {
  .mg-card {
    width: 600px;
    height: 450px;
    max-height: 450px;

    .mg-card-bottom {
      margin-top: auto;
      align-items: center;
      flex-direction: row;

      .uk-button {
        margin: 0 0 0 auto;
      }
    }
  }
}

@media (max-width: $mg-breakpoint-small) {
  .mg-card {
    padding: 25px;
  }
}
