@font-face {
  font-family: "FuturaMediumC";
  src: url('../assets/fonts/FuturaMediumC.eot') format("eot"), url("../assets/fonts/FuturaMediumC.woff") format("woff"), url("../assets/fonts/FuturaMediumC.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FuturaBookC";
  src: url('../assets/fonts/FuturaBookC.eot') format("eot"), url("../assets/fonts/FuturaBookC.woff") format("woff"), url("../assets/fonts/FuturaBookC.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

// Colors
$mg-green-main: #52926C;
$mg-yellow-main: #F6DF32;
$mg-green-text: #344B35;
$mg-white: #fff;
$mg-light-background: #F6F9F6;

// ----------> UIKit <---------------------------------------------------------------

// Framework properties
$inverse-global-color-mode: none;

// Colors
$global-link-color: $mg-green-text;
$global-color: $mg-green-text;
$global-primary-background: $mg-green-main;

// Typography
$global-font-family: 'FuturaBookC', serif;
$base-heading-font-family: 'FuturaMediumC', serif;
//$global-font-size: 18px;
//$global-2xlarge-font-size: 60px;

$base-hr-border-width: 2.25px;

$offcanvas-bar-width-m: auto;
$offcanvas-bar-width: 100%;

$dotnav-item-background: rgba($mg-green-main, 1) !default;
$dotnav-item-hover-background: rgba($mg-yellow-main, 0.6) !default;
$dotnav-item-onclick-background: rgba($mg-yellow-main, 0.2) !default;
$dotnav-item-active-background: rgba($mg-yellow-main, 0.6) !default;
$slidenav-color: rgba($mg-white, 0.5) !default;
$slidenav-hover-color: rgba($mg-white, 0.9) !default;
$slidenav-active-color: rgba($mg-white, 0.5) !default;

// Form

$form-border: $mg-green-main;
$form-focus-border: $mg-yellow-main;
$form-border-width: 2px;
$form-radio-border: $form-focus-border;
$form-radio-border-width: $form-border-width;
$form-radio-focus-border: $form-focus-border;
$form-background: unset;
$form-focus-background: unset;


// ----------> Bootstrap <---------------------------------------------------------------

$mg-breakpoint-small: 640px;
$mg-breakpoint-medium: 960px;
$mg-breakpoint-large: 1200px;
$mg-breakpoint-xlarge: 1600px;

$grid-breakpoints: (
  xs: 0,
  sm: $mg-breakpoint-small,
  md: $mg-breakpoint-medium,
  lg: $mg-breakpoint-large,
  xl: $mg-breakpoint-xlarge,
  xxl: $mg-breakpoint-xlarge
);

$container-max-sm-width: 100%;
$container-max-md-width: $container-max-sm-width;
$container-max-lg-width: 1200px;
$container-max-xxl-width: 1600px;
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: $container-max-lg-width,
  xl: $container-max-xxl-width,
  xxl: $container-max-xxl-width
)
