<div id="{{id}}" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog">

    <button class="uk-modal-close-default" type="button" uk-close></button>

    <div class="uk-modal-header">
      <h3 class="uk-modal-title">Анкета инструктора</h3>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="uk-modal-body">
        <div class="row">

          <div class="col-auto">

            <div class="wrapper">
              <img [src]="master.profiles | settingValue : 'CardMasterAvatarImage'" width="200" height="200"
                   alt="Master card image avatar">
              <div class="uk-margin">
                <div uk-form-custom>
                  <a>Выбрать фото</a>
                  <input type="file" id="cardImage">
                </div>
              </div>
            </div>

          </div>

          <div class="col-auto">

            <!--     First name     -->

            <div class="uk-margin">
              <label class="uk-form-label" for="firstName">Имя:</label>
              <div class="uk-form-controls">
                <input type="text" class="uk-input" placeholder="Имя" formControlName="firstName" id="firstName">
              </div>
            </div>

            <!--     Last name     -->

            <div class="uk-margin">
              <label class="uk-form-label" for="lastName">Фамилия:</label>
              <div class="uk-form-controls">
                <input type="text" class="uk-input" placeholder="Фамилия" formControlName="lastName" id="lastName">
              </div>
            </div>

            <!--     Middle name     -->

            <div class="uk-margin">
              <label class="uk-form-label" for="middleName">Отчетсво:</label>
              <div class="uk-form-controls">
                <input type="text" class="uk-input" placeholder="Отчество" formControlName="middleName" id="middleName">
              </div>
            </div>

            <!--     Birthday name     -->

            <div class="uk-margin">
              <label class="uk-form-label" for="birthday">Дата рождения:</label>
              <div class="uk-form-controls">
                <input type="date" class="uk-input" placeholder="Дата рождения" formControlName="birthday"
                       id="birthday">
              </div>
            </div>

          </div>

          <div class="col-auto">

            <!--     Email     -->

            <div class="uk-margin">
              <label class="uk-form-label" for="email">Емейл:</label>
              <div class="uk-form-controls">
                <input type="email" class="uk-input" placeholder="Емейл" formControlName="email" id="email">
              </div>
            </div>

            <!--     Phone     -->

            <div class="uk-margin">
              <label class="uk-form-label" for="phone">Мобильный телефон:</label>
              <div class="uk-form-controls">
                <input type="tel" class="uk-input" placeholder="Мобильный телефон" formControlName="phone" id="phone">
              </div>
            </div>

          </div>

          <div class="col-12">

            <h3 class="uk-margin-top">Достижения</h3>

            <div>
              <quill-editor formControlName="masterAchievements"></quill-editor>
            </div>

          </div>

          <div class="col-12">

            <h3 class="uk-margin-top">Описание</h3>

            <div>
              <!--              <quill-editor formControlName="masterDescriptions2" (onEditorCreated)="setEditor($event)"></quill-editor>-->
            </div>

          </div>

          <div class="col-12">

            <h3 class="uk-margin-top">New one</h3>

            <div>
              <ckeditor [editor]="Editor"  formControlName="masterDescriptions"></ckeditor>
            </div>

          </div>

        </div>
      </div>

      <div class="col-12 uk-margin-medium-top uk-text-right uk-modal-footer">
        <button type="submit" class="uk-button uk-button-primary uk-margin-right">Сохранить</button>
        <ng-template [ngIf]="editMode">
          <button type="button" class="uk-button uk-button-danger uk-margin-right">Удалить</button>
        </ng-template>
        <button type="button" class="uk-button uk-button-default" (click)="close()">Отменить</button>
      </div>

    </form>


  </div>
</div>
