@import "variables";

header .wrapper {
  margin: -30px -15px 0;
}

.mg-container {
  margin: 15px auto 0;
  max-width: $container-max-xxl-width;
}

main {
  //padding: 50px 30px;
  margin: 0 30px;
}
