@import "variables";
@import "mixins";

#el-9 {
  height: 1600px;
  margin-top: 200px;
}

.mg-card {
  text-align: left;
  align-items: end;

  p { margin: 0 0 15px; }

  .mg-card-bottom {
    text-align: center;

    span {
      &:not(:last-of-type) {
        margin-right: 10px;
      }
      &.uk-disabled {
        filter: opacity(25%);
      }
      &.uk-active {
        color: $yellow-main;
      }
    }
  }
}

.bg-top {
  width: 100vw;
  top: 0;
  @include absolute-x-center;
  z-index: -1;
}

.bg-bottom {
  width: 100vw;
  bottom: 0;
  @include absolute-x-center;
  z-index: -1;
}

.bg-map {
  position: absolute;
  width: 100vw;
  top: 0;
  @include absolute-x-center;

  #map {
    width: 100%;
    height: 1200px;
  }
}

.contacts, .contacts > h1 {
  color: white;
}

.contacts {
  margin-bottom: 100px;

  hr { border-top-color: white }
  .contacts-wrapper, .contact-line {
    display: flex;
  }
  .contact-block:not(:last-of-type) {
    margin-right: 30px;
  }
  .contact-line {
    margin-bottom: 25px;

    > * { margin-right: 25px; }
    .icon { width: 36px; }
    .name { width: 100px; }
    .value { width: 200px;  }
  }
}

.bottom-copy {
  width: 100vw;
  @include absolute-x-center;
  z-index: 1;
  bottom: 25px;
  color: white;
  padding: 0 50px;
  display: flex;
  align-items: center;
  p { margin-bottom: 0; }

  .icons > *:not(:last-of-type) {
    margin-right: 40px;
  }
}
