<div class="mg-tools uk-margin-medium-bottom">

  <div class="uk-search uk-search-default">
    <a class="uk-search-icon-flip" uk-search-icon></a>
    <input class="uk-search-input uk-input" type="search" placeholder="Поиск" (ngModelChange)="filterText = $event; refreshData()" [ngModel]="filterText">
  </div>

  <div class="uk-inline">
    <span class="uk-form-icon uk-form-icon-flip mg-text-green-main" uk-icon="icon: calendar"></span>
    <input class="uk-input" type="date" placeholder="Дата события" (ngModelChange)="filterDate = $event; refreshData()" [ngModel]="filterDate">
  </div>

  <button class="uk-button uk-button-primary" type="button" (click)="add()">Добавить</button>

  <button class="uk-button uk-button-primary" type="button" (click)="refreshData()">Обновить</button>

</div>

<div class="table-wrapper">

  <table class="uk-table uk-table-divide uk-table-justify uk-background-muted" (mouseleave)="currentRowIndex = -1">

    <thead>
    <tr>
      <th>№</th>
      <th (click)="isDesc = !isDesc; refreshData()" class="mg-pointer">
        Дата события
        <ng-template [ngIf]="isDesc" [ngIfElse]="down"><span uk-icon="chevron-up"></span></ng-template>
        <ng-template #down><span uk-icon="chevron-down"></span></ng-template>
      </th>
      <th>Название турнира</th>
      <th>Адрес</th>
      <th>Учасники</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of data; let i = index" (mouseenter)="currentRowIndex = i">
      <td>{{i + 1}}</td>
      <td>{{event.actionDate | date : 'dd-MM-yyyy'}}</td>
      <td>{{event.tournamentName}}</td>
      <td>{{event.address}}</td>
      <td>{{event.participants}}</td>
      <td>
        <div [style.visibility]="currentRowIndex != i ? 'hidden' : ''">
          <a class="uk-icon-button" uk-icon="pencil" (click)="edit(event)"></a>
        </div>
      </td>
    </tr>
    </tbody>

  </table>

</div>

<mg-manage-event-modal #manageModal></mg-manage-event-modal>
