<mg-manage-modal [id]="id"
                 [isDeleteButton]="isEditMode"
                 (onSubmit)="submit()"
                 (onDelete)="delete()"
                 [deletePerm]="'Permission.Section.Delete'"
                 (onCancel)="modal.hide();">
    <form [formGroup]="form">

        <!--    Name    -->
        <div class="uk-margin">
            <label class="uk-form-label" for="name">Название:</label>
            <div class="uk-form-controls">
                <input type="text" class="uk-input" placeholder="Название" formControlName="name" id="name">
            </div>
        </div>

        <!--    Description    -->
        <div class="uk-margin">
            <h3>Описание:</h3>
            <div class="mg-quill-field">
                <mg-quill-editor placeholder="Введите текст..."
                                 formControlName="description"></mg-quill-editor>
            </div>
        </div>
    </form>
</mg-manage-modal>
