@mixin \mg-linked-acc() {
  padding: 50px 0;
}

@mixin hook-accordion-title() {

  &:not(.mg-accordion-title) {
    border-bottom: 2px solid $mg-yellow-main;
    color: $mg-green-main;
    font-size: 40px;

    &:before {
      content: "";
      width: 1.4em;
      height: 1.4em;
      margin-left: 10px;
      float: right;
      background-image: url('../../assets/img/arrow-green.svg');
      transform: rotate(0deg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }

}

@mixin hook-accordion-title-hover() {
  color: $mg-green-main;
}

.uk-accordion .uk-open .uk-accordion-title:before {
  transform: rotate(180deg);
}
