//@mixin hook-table-header-cell() {
//  border-color: $yellow-main;
//  border-width: 2px;
//}

@mixin hook-table() {
  tbody > tr:first-of-type td {
    border-top: unset;
  }
}

@mixin hook-table-header-cell() {
  border-bottom: 2px solid $mg-yellow-main;
}


@mixin hook-table-cell() {
  border-top: 2px solid $mg-green-main;
}

