@mixin xy-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin absolute-xy-center() {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin absolute-x-center() {
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-y-center-left($left: 0) {
  position: absolute;
  left: $left;
  top: 50%;
  transform: translate(0, -50%);
}

@mixin y-center-left() {
  display: flex;
  justify-content: left;
  align-items: center;
}

@mixin absolute-x-center() {
  left: 50%;
  transform: translateX(-50%);
}

