<div class="mg-tools uk-margin-medium-bottom">

  <form class="uk-search uk-search-default">
    <a class="uk-search-icon-flip" uk-search-icon></a>
    <input class="uk-search-input uk-input" type="search" placeholder="Поиск">
  </form>

  <button class="uk-button uk-button-primary" type="button" (click)="addNew()">Добавить инструктора</button>

  <button class="uk-button uk-button-primary" type="button" (click)="goTest()">Тест</button>

  <a class="uk-icon-button" uk-icon="refresh"></a>


</div>

<ng-container *ngIf="test; else other_section">

<!--  <mg-master-page #masterPageComponent>-->

<!--    <mg-manage-html manageMasterDescription highlightArea="manageMasterDescription"></mg-manage-html>-->

<!--  </mg-master-page>-->


</ng-container>

<ng-template #other_section>
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 col-xxl-3" *ngFor="let master of $masters | async">
      <mg-master-card [master]="master">
        <button class="uk-button uk-button-primary" type="button" (click)="openEditDialog(master)">Редактировать</button>
      </mg-master-card>
    </div>
  </div>
</ng-template>

