<div class="uk-card mt-100 uk-align-center mg-card" style="max-width: 600px; padding: 20px">

    <div class="uk-card-header uk-text-center">
        <h2>Регістрація</h2>
        <p *ngIf="invite">Завершіть реєстрацію - введіть данні</p>
    </div>

    <form class="uk-form-stacked" [formGroup]="form" (ngSubmit)="register()">

        <div class="uk-card-body">

            <ng-template [ngIf]="errorHtml">
                <div class="uk-margin uk-form-danger">
                    <ul [innerHTML]="errorHtml"></ul>
                </div>
            </ng-template>

            <div class="uk-margin">
                <label class="uk-form-label" for="firstName">
                    Імʼя <sup>*</sup>
                    <ng-template [ngIf]="hasError('firstName', 'required')">
                        - це поле обов'язкове
                    </ng-template>
                </label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" placeholder="Імʼя" id="firstName" formControlName="firstName">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="lastName">
                    Прізвище <sup>*</sup>
                    <ng-template [ngIf]="hasError('lastName', 'required')">
                        - це поле обов'язкове
                    </ng-template>
                </label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" placeholder="Прізвище" id="lastName" formControlName="lastName">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="middleName">По-батькові</label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" placeholder="По-батькові" id="middleName" formControlName="middleName">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="email">
                    Емейл <sup>*</sup>
                    <ng-container *ngIf="hasError('email', 'required'); else emailEmail">
                        - це поле обов'язкове
                    </ng-container>
                    <ng-template #emailEmail>
                        <ng-container *ngIf="hasError('email', 'email')">
                            - некоректний формат емейлу
                        </ng-container>
                    </ng-template>
                </label>
                <div class="uk-form-controls">
                    <input type="text" class="uk-input" placeholder="email@gmail.com" id="email" formControlName="email">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="password">
                    Пароль <sup>*</sup>
                    <ng-container *ngIf="hasError('password', 'required')">
                        - це поле обов'язкове
                    </ng-container>
                </label>
                <div class="uk-form-controls">
                    <input type="password" class="uk-input" placeholder="Пароль" id="password" formControlName="password">
                </div>
            </div>

            <div class="uk-margin">
                <label class="uk-form-label" for="confirmPassword">
                    Підтвердіть пароль <sup>*</sup>
                    <ng-container *ngIf="hasError('confirmPassword', 'required'); else confirmPasswordMatch">
                        - це поле обов'язкове
                    </ng-container>
                    <ng-template #confirmPasswordMatch>
                        <ng-container *ngIf="hasError('confirmPassword', 'mustMatch')">
                            - пароль має збігатися
                        </ng-container>
                    </ng-template>
                </label>
                <div class="uk-form-controls">
                    <input type="password" class="uk-input" placeholder="Підтвердіть пароль" id="confirmPassword" formControlName="confirmPassword">
                </div>
            </div>

        </div>

        <div class="uk-card-footer uk-text-center">
            <button class="uk-button uk-button-primary uk-margin-small-right" type="submit">Зареєструватись</button>
            <div class="uk-inline" *ngIf="!invite">
                <mg-google-login text="signup_with" (onResponse)="onGoogleSignup($event)"></mg-google-login>
            </div>
        </div>
    </form>

</div>
