<div uk-slider>

  <div class="uk-position-relative">

    <ul class="uk-slider-items uk-child-width-1-2@l uk-child-width-1-3@xl">
        <li *ngFor="let master of masters" class="x-center">
          <div class="wrapper">
            <mg-master-card [master]="master">
              <ng-container *ngTemplateOutlet="cardBottomRef; context: {$implicit: master}"></ng-container>
            </mg-master-card>
          </div>
        </li>

    </ul>

    <a class="uk-position-center-left" href="#" [ngStyle]="{color: color()}" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right" href="#" [ngStyle]="{color: color()}" uk-slidenav-next uk-slider-item="next"></a>

  </div>

  <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

</div>
