<div class="uk-text-center mt-100" [id]="sectionUpId">
  <h1 [@fadeInAnimation]="masterInfo">Инструктора</h1>
  <h3>{{masterInfo.name}}</h3>
</div>

<div class="row">

  <div class="col-lg-6">

    <div class="mg-card">
      <img [@fadeInAnimation]="masterInfo" id="image" loading="lazy" (error)="imageLoaded($event)"
           data-src="{{masterInfo.profiles | settingValue: 'MasterProfileImage'}}" width="440" height="525"
           alt="master">

      <div class="d-flex uk-flex-wrap">
        <a (click)="displayTimetables()">
          <span class="uk-margin-right"><mg-icon color="green-main" icon="calendar"></mg-icon></span>
          Посмотреть расписание
        </a>

        <div class="uk-margin-auto-left">
          <a href="#">
            <mg-icon color="green-main" icon="vk"></mg-icon>
          </a>
          <a href="#">
            <mg-icon color="green-main" icon="instagram"></mg-icon>
          </a>
          <a href="#">
            <mg-icon color="green-main" icon="facebook"></mg-icon>
          </a>
        </div>
      </div>

      <img src="/assets/img/master-bg.png" class="mg-bg absolute-xy-center" alt="master background">
    </div>

  </div>

  <div class="col-lg-6" [@fadeInAnimation]="masterInfo">

    <div id="manageMasterDescription" class="wrapper uk-position-relative">
      <ng-content select="[manageMasterDescription]"></ng-content>

      <ng-template [ngIf]="masterInfo.profiles | containsSetting: 'MasterDescriptions'"
                   [ngIfElse]="elseBlock">
        <div [innerHTML]="masterInfo.profiles | settingValue: 'MasterDescriptions'"></div>
      </ng-template>

      <ng-template #elseBlock>
        <p>Информации об инструкторе пока еще нет = (</p>
      </ng-template>

    </div>

  </div>

</div>

<div class="uk-position-relative">

  <img id="bg-7" loading="lazy" src="/assets/img/bg-14.png" alt="background" class="mg-bg absolute-x-center">

  <ng-template [ngIf]="masterInfo.profiles | containsSetting: 'MasterWithImages'">
    <img id="bg-6" loading="lazy" src="/assets/img/bg-13.png" alt="background" class="mg-bg absolute-xy-center">

    <div class="mt-300 mg-image-gallery"
         [hidden]="(masterInfo.profiles | settingValue: 'MasterWithImages').length == 0">

      <h1>Фотографии с инструктором</h1>
      <hr>

      <div class="wrapper">
        <div class="overlay-wrapper">
          <mg-image-gallery [imageUrls]="masterInfo.profiles | settingValue: 'MasterWithImages'"
                            containerClasses="mg-max-xl-overflow-visible">
          </mg-image-gallery>
        </div>
      </div>

    </div>

  </ng-template>

  <div id="more-masters">

    <h1>Еще инструктора</h1>

    <div class="mt-50">
      <mg-master-slider [cardBottomRef]="cardBottomRef" [masters]="otherMasters">
        <ng-template let-master #cardBottomRef>
          <button class="uk-button uk-button-primary mt-2" routerLink="/master/{{master.id}}">Узнать больше</button>
        </ng-template>
      </mg-master-slider>
    </div>

  </div>

</div>

<div class="mt-200 uk-text-center" id="text-1">
  <div class="wrapper">
    <h1>Ждём вас клубе!</h1>
    <p>Клуб активно развивается во всех направлениях спортивной и общественной деятельности, привлекая в свои ряды все
      новых и новых приверженцев этого прекрасного вида спорта и образа жизни!</p>
    <button class="uk-button uk-button-primary uk-margin" routerLink="/registration" type="button">Записаться</button>
  </div>
</div>
