<!-------------------------------  MAIN BLOCK  ------------------------------>

<div class="row">
  <div class="col-6 uk-margin-auto-vertical uk-flex">

    <div class="uk-display-inline-block uk-margin-auto">
      <h1>Мауглі</h1>
      <p>Карате для дітей поряд<br>з вашим домом!</p>
      <button class="uk-button uk-button-primary" [routerLink]="'registration'">Записатись</button>
    </div>

  </div>

  <div class="col-6">
    <div class="uk-inline">
      <img id="bg-1" src="assets/img/bg-1.png" loading="lazy" alt="background boys">
      <div id="ov-1" class="uk-overlay uk-overlay-icon uk-position-bottom-left">
        <img id="bg-2" class="main-image" src="assets/img/main-boys.png" loading="lazy" alt="boys">
      </div>
    </div>
  </div>

  <div class="col-12 uk-text-center uk-margin-top">
    <!--  todo: setup to be flexible for other screens  -->
    <a href="#el-3" uk-scroll="offset: 300">
      <mg-icon icon="arrow" color="green-main" width="50"></mg-icon>
    </a>
  </div>

</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  OUR GOALS  ------------------------------->

<div class="row mt-200">

  <div class="col-lg-10 uk-margin-auto-vertical">
    <div id="el-3" class="wrapper uk-inline">
      <h3>Наша мета</h3>
      <hr>
      <p>Гармонійний розвиток особистості, залучення до здорового способу життя, набуття навичок самооборони, вивчення традиційного карате, удосконалення спортивної майстерності.</p>
      <div class="uk-overlay uk-overlay-icon uk-position-center-left z-m1 p-left-m200 mg-bg-5"></div>
    </div>
  </div>

  <div class="col-2 uk-position-relative display-lg-none">
    <div class="wrapper uk-text-center uk-inline">
      <img src="/assets/img/masters/master-1.png" loading="lazy">
      <p class="uk-text-bold">Хомутенко Руслан <br> Миколайович</p>
      <div id="bg-4" class="uk-overlay uk-overlay-icon z-m1 mg-bg-5"></div>
    </div>
  </div>

</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  ABOUT US  -------------------------------->

<div class="row mt-300">

  <div id="main-gallery-container-1" class="col-lg-7 uk-position-relative">
    <div id="main-gallery" class="wrapper">
      <mg-frame-gallery [imgPaths]="imgPaths"></mg-frame-gallery>
    </div>
    <img id="bg-5" class="mg-bg" src="assets/img/bg-4.png" loading="lazy">
  </div>

  <div class="col-lg-5 ml-auto">
    <div id="el-1" class="wrapper">
      <h1>Про Клуб</h1>
      <p>Дитячий Центр «Мауглі» є Громадською Організацією, створеною на добровільних засадах, згідно із Законом України «Про об'єднання громадян» та виконує свою діяльність відповідно до чинного законодавства України.</p>
      <p>Основною метою занять у клубі є <span>гармонійний розвиток особистості</span>. Діти отримують не тільки <span>фізичний</span>, але й <span>духовний розвиток</span>, спрямований на виховання морально-етичних норм. Ндього в клубі тренується близько <span>270</span> спортсменів, серед яких як початківці, так і спортсмени високого рівня - володарі чорних поясів, чемпіони Світу та Європи.</p>
    </div>
  </div>

</div>


<!--------------------------------------------------------------------------->

<!-------------------------------  IN OUR PROGRAM  -------------------------->

<div id="el-2" class="row uk-position-relative">
  <div class="col-12">
    <h3>У програмі навчання</h3>
    <hr>
  </div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Загальна фізична підготовка</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Спеціальна фізична підготовка</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Традиційне карате (стиль ШОТОКАН)</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Прикладна техніка карате для самооборони</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Атестація на пояси, включаючи чорні для дітей</p></div>
  <div class="col-lg-4 col-sm-6 col-xs-12"><p>Змагання різних рівнів та правил</p></div>
  <img class="mg-bg absolute-xy-center w-xl-container" src="assets/img/bg-2.png" loading="lazy">
</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  OUR MASTERS  ----------------------------->

<div id="el-4" class="row" style="min-height: 500px">

  <div class="col-12 uk-text-center">
    <h1>Наші інструктори</h1>
  </div>

  <div class="col-12 uk-position-relative">
    <div id="el-5">
      <mg-master-slider [cardBottomRef]="cardBottom" [masters]="masters">
        <ng-template let-master #cardBottom>
          <button class="uk-button uk-button-primary mt-2" routerLink="master/{{master.id}}">Дізнатися більше</button>
        </ng-template>
      </mg-master-slider>
    </div>
    <img class="mg-bg absolute-xy-center" src="assets/img/bg-3.png" loading="lazy">
  </div>


</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  OUR GROUPS  ----------------------------->

<div id="el-6" class="wrapper">
  <mg-linked-accordion></mg-linked-accordion>
</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  NOT ONLY  ----------------------------->

<div id="el-7" class="row justify-content-around uk-position-relative">

  <div class="col-12">
    <h3>Клуб Мауглі це не тільки карате</h3>
    <hr>
  </div>

  <div class="col-sm-auto"><p>Дитяча хореографія</p></div>
  <div class="col-sm-auto"><p>Дитячий фітнес</p></div>
  <div class="col-sm-auto"><p>Йога</p></div>
  <div class="col-sm-auto"><p>ММА</p></div>
  <div class="col-sm-auto"><p>Розтяжка для дітей</p></div>

  <div class="mg-bg-wrapper">
    <img class="mg-bg display-sm-none" src="assets/img/bg-5.png" loading="lazy">
    <img class="mg-bg absolute-xy-center" src="assets/img/karate-1.png" loading="lazy">
    <img class="mg-bg display-sm-none" src="assets/img/bg-5.png" loading="lazy">
  </div>

</div>

<!--------------------------------------------------------------------------->

<!-------------------------------  NOT ONLY  ----------------------------->

<div id="el-8" class="row">

  <div class="col-lg-6 uk-position-relative x-center">
    <div class="mg-white-frame"><img src="assets/img/photo-5.png" loading="lazy"></div>
    <img class="mg-bg absolute-xy-center" src="assets/img/bg-8.png" loading="lazy">
  </div>

  <div class="col-lg-5 ml-auto d-flex">
    <div class="wrapper">
      <h1>Тільки вперед</h1>
      <p class="mt-4">Клуб активно розвивається у всіх напрямках спортивної та громадської діяльності, залучаючи до своїх лав все нових і нових прихильників цього прекрасного виду спорту та способу життя.</p>
      <p>Стань учасником клубу та зміни своє життя зараз!</p>
      <button class="uk-button uk-button-primary mt-3" routerLink="registration">Записатись</button>
    </div>
  </div>

</div>

<!--------------------------------------------------------------------------->
