<div class="row mt-100">

    <div class="col-12">
        <h1 class="uk-text-center">Розклад</h1>

        <div class="mg-tools uk-margin-medium-bottom mt-50 uk-grid-small" uk-grid>
            <div class="uk-width-1-2@s uk-width-auto@m">
                <select class="uk-select" [(ngModel)]="filteringCity" (ngModelChange)="refreshData()">
                    <option [ngValue]="null">Всі міста</option>
                    <option *ngFor="let city of options?.cities" [ngValue]="city">{{city}}</option>
                </select>
            </div>
            <div class="uk-width-1-2@s uk-width-auto@m">
                <select class="uk-select" [(ngModel)]="filteringLocation" (ngModelChange)="refreshData()">
                    <option [ngValue]="null">Всі філіали</option>
                    <option *ngFor="let location of options?.locations"
                            [ngValue]="location.id">{{location.name}}</option>
                </select>
            </div>
            <div class="uk-width-1-2@s uk-width-auto@m">
                <select class="uk-select" [(ngModel)]="filteringSection" (ngModelChange)="refreshData()">
                    <option [ngValue]="null">Всі напрямки</option>
                    <option *ngFor="let section of options?.sections" [ngValue]="section.id">{{section.name}}</option>
                </select>
            </div>
            <div class="uk-width-1-2@s uk-width-auto@m">
                <button class="uk-button uk-button-primary" (click)="refreshData()">Оновити</button>
            </div>
        </div>

    </div>

    <div class="col-12 mt-50 uk-position-relative">
        <div class="mg-card" [mgLoading]="loading">

            <mg-timetable-record-table #timetable></mg-timetable-record-table>

        </div>

        <!--    todo -->
        <img class="mg-bg absolute-x-center" style="top: -180px" src="/assets/img/bg-15.webp" loading="lazy" alt="background">

    </div>

</div>
