<mg-manage-modal [id]="id"
                 [form]="form"
                 (onSubmit)="submit()"
                 (onCancel)="cancel()"
                 (onDelete)="delete()"
                 [deletePerm]="'Permission.Location.Delete'"
                 [isDeleteButton]="form.value.id">
  <form [formGroup]="form" (ngSubmit)="submit()" [class.ng-submitted]="formSubmitted">

    <!--    Name    -->

    <div class="uk-margin">
      <label class="uk-form-label" for="name">
        Назва<sup>*</sup>
        <ng-template [ngIf]="hasError('name', 'required')">
          - це поле обов'язкове
        </ng-template>
      </label>
      <div class="uk-form-controls"><input type="text" class="uk-input" placeholder="Назва" formControlName="name" id="name"></div>
    </div>

    <!--    Address    -->

    <div class="uk-margin">
      <label class="uk-form-label" for="address">
        Адреса<sup>*</sup>
        <ng-template [ngIf]="hasError('address', 'required')">
          - це поле обов'язкове
        </ng-template>
      </label>
      <div class="uk-form-controls"><input type="text" class="uk-input" placeholder="Адреса" formControlName="address" id="address"></div>
    </div>

    <!--    City    -->

    <div class="uk-margin">
      <label class="uk-form-label" for="city">
        Місто<sup>*</sup>
        <ng-template [ngIf]="hasError('city', 'required')">
          - це поле обов'язкове
        </ng-template>
      </label>
      <div class="uk-form-controls"><input type="text" class="uk-input" placeholder="Місто" formControlName="city" id="city"></div>
    </div>

    <!--    Google link    -->

    <!--<div class="uk-margin">
      <label class="uk-form-label" for="googleLink">Google link:</label>
      <div class="uk-form-controls"><input type="text" class="uk-input" placeholder="Google link" formControlName="googleMapsLink" id="googleLink"></div>
    </div>-->

    <!--    Google embedded link    -->

    <!--<div class="uk-margin">
      <label class="uk-form-label" for="googleMapsEmbeddedLink">Google embedded link:</label>
      <div class="uk-form-controls"><input type="text" class="uk-input" placeholder="Google embedded link" formControlName="googleMapsEmbeddedLink" id="googleMapsEmbeddedLink"></div>
    </div>-->

    <div class="uk-margin" uk-margin>
      <label class="uk-form-label uk-display-block">Напрямок</label>
      <button type="button"
              *ngFor="let section of form.value.sections"
              class="uk-button uk-button-primary uk-button-small uk-margin-small-right">
        {{section.name}}<span class="uk-margin-small-left" uk-icon="icon: close" (click)="deleteSection(section)"></span>
      </button>

      <div class="uk-margin">
        <mg-autocomplete-input [optionsSource]="updateSections"
                               #sectionAutocomplete
                               (onOptionSelected)="addSection($event)"
                               placeholder="Введіть Назва секции"></mg-autocomplete-input>
      </div>

    </div>

  </form>
</mg-manage-modal>
