@model MG.WebHost.Contracts.EmailTemplates.TestEmailModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Test title</title>
</head>
<body>
<div>
    <h1>Hello Dear @Model.Name!</h1>
</div>
</body>
</html>